# Node
node_modules/
package-lock.json
npm-debug.log

# Firebase
.firebase/

# Environment
.env
.env.local

# OS
.DS_Store

# VSCode
.vscode/

# Build outputs
dist/
build/

# Logs
logs/
*.log

# Netlify
.netlify/
