rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // ADMINS
    match /admins/{adminId} {
      allow read: if request.auth.uid == adminId;
    }

    // USERS can read/write THEIR OWN profile
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      allow read: if isAdmin();
    }

    // ENQUIRIES
    match /enquiries/{enquiryId} {
      allow create: if isSignedIn();
      allow read, write: if isAdmin();
    }

    // LISTINGS
    match /listings/{listingId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // LANDLORDS
    match /landlords/{landlordId} {
      allow read: if true;
      allow write: if isAdmin();
    }
      // USERS CAN CREATE CONTACT MESSAGES
    match /contacts/{contactId} {
      allow create: if request.auth != null;
      allow read, update, delete: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
  }
}

